/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Styles */

:root {
  --bg-primary: #111111;
  --layout-horizontal-padding: 0 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
}

.logo {
  width: 60px;
}

.navbar {
  background-color: color-mix(in srgb, var(--bg-primary), transparent 20%);
  z-index: 2;
  height: 3rem;
  display: flex;
  padding: var(--layout-horizontal-padding);
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}

.banner {
  position: relative;
  height: 15rem;
  background-image: url('images/banner.jpg');
  background-size: cover;
  background-position: center center;
  color: white;
  object-fit: contain;
  display: flex;
  padding: var(--layout-horizontal-padding);
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding-top: 3rem;
  -webkit-mask-image: linear-gradient(
    to bottom,
    var(--bg-primary) 85%,
    transparent 100%
  );
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.btn-container {
  display: flex;
  gap: 1rem;
}

.btn {
  cursor: pointer;
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 0.7);
  padding: 0.5rem 2rem;
}

.banner-title {
  font-size: 36px;
  font-weight: bold;
}

.btn:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
